<app-title></app-title>
<!-- <p>le monde du developpement est pour moi plus qu'un metier, j'aime construire et créer des site/application voici donc
    quelque projet que j'ai fais ou que je compte faire dans le simple but de m'ammuser.</p> -->

<div id="content">

    <div class="projet-container" *ngFor="let projet of projets" (click)="detail(projet)">
        <h2 class="title-project">{{projet.titre}}</h2>

        <figure>
            <img class="miniature" src="{{projet.miniature}}" alt="" height="213">
        </figure>

        <div class="logos">
            <figure *ngFor="let logo of projet.technologie">
                <img src="{{logo}}" alt="" height="25">
            </figure>
        </div>

        <!--<div class="source">
            <ul>
                <li>gitHub : <a href="https://github.com/Alex1084/Guintuaris-symfony">{{projet.github}}</a>
                </li>
                <li>lien :{{projet.autre}}</li>
            </ul>
        </div> -->
    </div>
</div>
<div [ngClass]="modalIsActive === true ? 'modal' : 'hide'" (click)="modalClose()">
    <div class="custom-box" (click)="$event.stopPropagation()">
        <div>
            <h1>{{projetInModal.titre}}</h1>
            <p>{{projetInModal.intro}}</p>
            <img src="{{projetInModal.miniature}}">
            <p>{{projetInModal.details}}</p>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<p>aaaa</p>