<app-title></app-title>


<div class="section">
    <h2 class="title-cv">Qui suis-je ?</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa a nostrum perferendis, reiciendis magni quisquam
        veritatis, dolorum officiis numquam quas ea eos sequi adipisci architecto nemo? Non accusamus recusandae dolores
    </p>
</div>
<div class="container">

    <div class="section">
        <h2 class="title-cv">Formation et diplome</h2>
        <h3>2023 : Formation concepteur Developer</h3>
        <span>à 3W Academy (13) en télé présentiel</span>

        <h3>2022 : Formation Fullstack Developer</h3>
        <span>à 3W Academy (13) en télé présentiel</span>
        <h3>2021: BTS Services Informatiques aux Organisations,
            Option Solutions Logicielles et Applications Métiers</h3>
        <span>au Lycée de la Venise Verte à Niort (79)</span>

        <h3>2019 : Baccalauréat Sciences et Technologie de l’industrie
            et du Développement Durable</h3>
        <span>au Lycée François Rabelais à Fontenay le Comte (85)</span>
    </div>
    <div class="section">
        <h2 class="title-cv">Experience professinelle</h2>
        <h3>2022 : alternance pour création et developpement d'un site de Ecomerce</h3>
        <span>à l'épi du fermier à Nantes (44)</span>
        <h3>2021 : Stage en autonomie pour la création et le
            développement d'une application mobile</h3>
        <span>à la Distillerie du camp romain a St Sévère (16)</span>
    </div>
</div>