<div id="title">

    <svg class="svg" height="200px" width="600px">
        <polygon points="100,25 25,25 75,75 25,125 125,125" fill="#767674" stroke="black"></polygon>
        <polygon points="125,125 100,100 125,100" fill="black"></polygon>

        <polygon points="500,25 575,25 525,75 575,125 475,125" fill="#767674" stroke="black"></polygon>
        <polygon points="475,125 500,100 475,100" fill="black"></polygon>
        <rect x="100" y="" width="400" height="100" fill="#80A7FF" stroke="black"></rect>

        <text x="150" y="62" font-size="2.5rem" font-color="white">Alexandre baudry</text>

    </svg>
</div>

<h2>developpeur fullStack depuis 2021</h2>

<h2>Competence Web</h2>
<ul>
    <li>Symfony <div class="competence">
            <p></p>
        </div>
    </li>
    <li>Angular<div class="competence">
            <p></p>
        </div>
    </li>
    <li>Autre <div class="competence">
            <p></p>
        </div>
    </li>
    <li>PHP <div class="competence">
            <p></p>
        </div>
    </li>
</ul>

<h2>Competence Application</h2>

<ul>
    <li>Java <div class="competence">
            <p></p>
        </div>
    </li>
    <li>Flutter<div class="competence">
            <p></p>
        </div>
    </li>
    <li>SQL<div class="competence">
            <p></p>
        </div>
    </li>
    <li>
        <div class="competence">
            <p></p>
        </div>
    </li>
</ul>