<h1>Alexandre baudry</h1>
<h2>developpeur fullStack depuis 2021</h2>

<h2>Competence Web</h2>
<ul>
    <li>Symfony <div class="competence">
            <p></p>
        </div>
    </li>
    <li>Angular<div class="competence">
            <p></p>
        </div>
    </li>
    <li>Autre <div class="competence">
            <p></p>
        </div>
    </li>
    <li>PHP <div class="competence">
            <p></p>
        </div>
    </li>
</ul>

<h2>Competence Application</h2>

<ul>
    <li>Java <div class="competence">
            <p></p>
        </div>
    </li>
    <li>Flutter<div class="competence">
            <p></p>
        </div>
    </li>
    <li>SQL<div class="competence">
            <p></p>
        </div>
    </li>
    <li>
        <div class="competence">
            <p></p>
        </div>
    </li>
</ul>